  /*Utilities*/

  .container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 45px;
}

.card {
   background-color: rgb(194, 144, 86);
   color:rgba(58, 31, 31, 0.726);
   border-radius: 15px;
   box-shadow: 0 6px 15px rgb(134, 6, 6, 0.55);
   padding: 22px;
   margin: 11px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--pcolor);
  color:rgb(66, 248, 10);
  border-radius: 90%;
}

.btn-outline {
  background-color: rgb(202, 0, 61);
  border: 1px rgb(59, 252, 0) solid;
}

.btn:hover {
  transform: scale(0.96);
}
  /* Backgrounds and Colored Buttons */
.bg-primary, .btn-primary {
    background-color: var(--pcolor);
    
}
.bg-secondary, .btn-secondary {
    background-color: var(--scolor);

}

.bg-dark,
.btn-dark {
  background-color: rgb(14, 4, 105);
  color: rgb(238, 238, 241);
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: rgb(201, 11, 11);
}


.bg-primary a, 
.btn-primary a,
.bg-secondary a, 
.btn-secondary a {
    color:rgb(252, 0, 197)
}


/* Text Colors */
.text-primary {
    color:blue;
}



/* Text Sizes */

.lead {
    font-size:  24px;
    font-style:oblique ;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}



.text-center {
    text-align: center;

}


/* Alerts */

.alert {
    background-color: rgb(206, 192, 3);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
  }
  
  .alert i {
    margin-right: 10px;
  }
  
  .alert-success {
    background-color:rgb(23, 10, 202);
    color: rgb(3, 218, 57);
  }
  
  .alert-error {
    background-color: rgb(168, 0, 0);
    color: rgb(245, 6, 6);
  }

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  font-weight: bolder;
  font-style: oblique;
}

/* Margin */

.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 1.5rem 0;
}
.my-3 {
    margin: 2rem 0;
}
.my-4 {
    margin: 3rem 0;
}
.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 1.5rem;
}
.m-3 {
    margin: 2rem;
}
.m-4 {
    margin: 3rem;
}
.m-5 {
    margin: 4rem;
}

/* Padding */
.py-1 {
    padding: 1rem 0;
}
.py-2 {
    padding: 1.5rem 0;
}
.py-3 {
    padding: 2rem 0;
}
.py-4 {
    padding: 3rem 0;
}
.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 1.5rem;
}
.p-3 {
    padding: 2rem;
}
.p-4 {
    padding: 3rem;
}
.p-5 {
    padding: 4rem;
}